<nav class="navbar navbar-inverse navbar-fixed-top"g>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">{{ 'HOTLINE_NAME' | translate }}</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li data-match-route="/about"><a href="#/about">{{ 'NAVBAR_ABOUT' | translate }}</a></li>
      <li data-match-route="/apply"><a href="#/apply">{{ 'NAVBAR_VOLUNTEER' | translate }}</a></li>
      <li data-match-route="/dashboard"><a href="#/dashboard">{{ 'NAVBAR_DASHBOARD' | translate }}</a></li>
      <li data-match-route="/calls"><a href="#/calls">{{ 'NAVBAR_CALLS' | translate }}</a></li>
      <li data-match-route="/operators"><a href="#/operators">{{ 'NAVBAR_OPERATORS' | translate }}</a></li>
      <li data-match-route="/stats"><a href="#/stats">{{ 'NAVBAR_STATISTICS' | translate }}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li data-match-route="/login"><a href="#/login">{{ 'NAVBAR_LOGIN' | translate }}</a></li>
    </ul>
  </div>
</nav>

