<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <!-- Call -->
	<servlet>
		<servlet-name>SwitchboardServlet</servlet-name>
		<servlet-class>org.translifeline.cupcakehotline.call.SwitchboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SwitchboardServlet</servlet-name>
		<url-pattern>/switchboard</url-pattern>
	</servlet-mapping>
	
	<!-- Controllers -->
	<servlet>
		<servlet-name>OperatorServlet</servlet-name>
		<servlet-class>org.translifeline.cupcakehotline.controller.OperatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OperatorServlet</servlet-name>
		<url-pattern>/operator</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
